body {
  font-family: "montserratlight";
  font-size: 90px;
  margin: 0;
  font-weight: 500;
  background-color: var(--bg-color);
  /* background: linear-gradient(141deg, #008b8b 0%, #02c3bd 51%, #147572 95%); */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.205); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-scroll); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg-color-scroll2); /* creates padding around scroll thumb */
}
.menu {
  display: block;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  /* -webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "montserratextralight";
  font-size: 45%;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "montserratextralight";
}

h3 {
  font-family: "montserratextralight";
  font-size: 25%;
  font-weight: 200;
}

:root {
  --yellow-color: #f6b93b;
  --bg-color: #2b2d42;
  --bg-color-scroll: rgba(255, 255, 255, 0.212);
  --bg-color-scroll2: #2b2d424d;
  --font-color: white;
  --font-color-specs: white;
  --social-icon: white;
  --dia-colorMobile: #2b2d424f;
  --bg-colorMobile: white;
  --bg-colorMobile2: #000505;
  --img-dropShadow: rgba(0, 0, 0, 0.548);
  --bg-projectBox: rgba(255, 255, 255, 0.308);
  --shadowPtrn: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
}

.mudar-tema {
  transition: ease-in-out 0.8s;
  z-index: 2;
  position: relative;
  margin-top: 1%;
  right: -2.5%;
  float: right;
  background-image: var(--label-icon);
  background-repeat: no-repeat;
  padding: 67px;
  cursor: pointer;
}

#btn {
  display: none;
}

.light-mode {
  --bg-color-scroll: #2b2d424d;
  --bg-color-scroll2: rgba(255, 255, 255, 0.212);
  --yellow-color: #f68a3b;
  --bg-color: white;
  --font-color: #2b2d42;
  --font-color-specs: black;
  --social-icon: #2b2d42;
  --dia-colorMobile: rgba(255, 255, 255, 0.178);
  --bg-colorMobile: #2b2d42;
  --bg-colorMobile2: white;
  --img-dropShadow: #ffffff6b;
  --bg-projectBox: rgba(0, 0, 0, 0.301);
  --label-icon: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/64/undefined/external-moon-halloween-bearicons-detailed-outline-bearicons.png");
}

@font-face {
  font-family: "montserratlight";
  src: url("fontescopy/amontserrat-light-webfont.woff2") format("woff2"),
    url("fontescopy/amontserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratextralight";
  src: url("fontescopy/amontserrat-extralight-webfont.woff2") format("woff2"),
    url("fontescopy/amontserrat-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.full_name {
  z-index: 5;
  font-size: 30%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  position: absolute;
  color: var(--yellow-color);
  margin: 0%;
  top: 3%;
  left: 2%;
}

.full_name:hover {
  cursor: none;
  color: var(--font-color);
}

.navBarv1 ul {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  top: 3%;
  right: 5%;
  font-size: 30%;
  margin-right: 5%;
  padding: 0;
  position: fixed;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  padding-left: 15px;
  opacity: 5;
  transition: 0.3s;
  color: var(--yellow-color);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

a:hover {
  opacity: 1;
  color: var(--font-color);
}

li {
  display: inline;
}

#home_pg {
  z-index: 4;
  top: -1%;
  left: 50%;
  position: absolute;
}

.he {
  /* transform: rotate(-11deg); */
  top: 8%;
  position: absolute;
  color: var(--font-color);
  /* color: #140021; */
  left: 15vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.llo {
  /* transform: rotate(11deg); */
  top: 25%;
  position: absolute;
  color: var(--font-color);
  /* color: #140021; */
  left: 20vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#diag_layout {
  background-color: var(--dia-colorMobile) !important;
  transform: rotate(-15deg);
  z-index: 0;
  top: 20%;
  left: -20%;
  /*background-color: rgba(255, 255, 255, 0.555);*/
  width: 200%;
  height: 40%;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

#words {
  top: 25%;
  left: 40%;
  position: absolute;
  width: 25%;
  height: 25%;
}

.intro {
  color: var(--font-color);
  font-size: 30%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.name {
  opacity: 10;
  color: var(--yellow-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  font-size: 45%;
}

.specs {
  opacity: 0.9;
  color: var(--font-color-specs);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    5px 5px 5px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.stickyicon-list {
  position: fixed;
  top: 50%;
  right: 0.1px;
  transform: translateY(-50%);
}

.stickyicon-list a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
}

/* HOver affect on sticky social media icons */

.stickyicon-list a:hover {
  color: var(--yellow-color);
}

.stickyicon-list a {
  opacity: 1;
  color: var(--social-icon);
}

.vertical {
  position: relative;
  float: right;
  margin-top: 20%;
}

.boxCtt {
  position: absolute;
  bottom: -130%;
}

.arrow {
  z-index: 1;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--bg-colorMobile);
  border-right: 5px solid var(--bg-colorMobile);
  transform: rotate(45deg);
  margin: -10px;
  animation-delay: 4s;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
#Projects {
  position: absolute;
  left: 25%;
  top: 120%;
}
.layoutScrollbox {
  overflow-y: scroll;
  align-items: right;
  justify-content: right;
  padding-right: 10px;
  padding: 50px;
  position: absolute;
  border-radius: 15px;
  width: 60vw;
  height: 60vh;
  max-height: 60vh;
  display: -webkit-flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.layoutScrollbox::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}
.layoutScrollbox::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.205);
  scroll-behavior: smooth;
  border-radius: 15px; /* color of the tracking area */
}
.layoutScrollbox::-webkit-scrollbar-thumb {
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.459); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg-color-scroll2); /* creates padding around scroll thumb */
}

.ptext {
  z-index: 2;
  color: var(--bg-colorMobile);
  position: absolute;
  top: 115%;
  left: 25%;
  font-size: 0.5em;
  display: flex;
}
.hr-line {
  position: relative;
  margin-top: 25px;
  margin-right: 35px;
  right: -2%;
  width: 200px;
  display: inline;
}
.boxPrjchild1 {
  position: absolute;
  border-radius: 15px;
  width: 40vw;
  height: 25vh;
  top: 15%;
  background-color: var(--bg-projectBox);
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.137),
    -0.5rem -0.5rem rgba(204, 204, 204, 0.199);
}
.boxPrjchild2 {
  position: absolute;
  border-radius: 15px;
  top: 65%;
  width: 40vw;
  height: 25vh;
  background-color: var(--bg-projectBox);
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.137),
    -0.5rem -0.5rem rgba(204, 204, 204, 0.199);
}
.boxPrjchild3 {
  position: absolute;
  border-radius: 15px;
  top: 115%;
  width: 40vw;
  height: 25vh;
  background-color: var(--bg-projectBox);
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.137),
    -0.5rem -0.5rem rgba(204, 204, 204, 0.199);
}
.circlePrj1 {
  position: relative;
  border-radius: 15px;
  left: -15%;
  top: -20%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  transition: transform 250ms;
}
.circlePrj1:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
img{
  -webkit-filter: drop-shadow(5px 5px 5px var(--img-dropShadow));
  filter: drop-shadow(5px 5px 5px var(--img-dropShadow));
}
*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media only screen and (max-width: 480px) {
  #socialGallery {
    width: 120px;
  }
}
/* FOR 1080P */
@media only screen and (min-height: 900px) {
  body {
    font-size: 130px;
  }
  .hr-line {
    position: relative;
    margin-top: 35px;
    margin-right: 35px;
    right: -2%;
    width: 200px;
    display: inline;
  }
}
/* FOR MOBILE */
@media only screen and (max-device-width: 430px) {
  body {
    font-size: 80px;
    overflow-x: hidden;
  }
  .arrow{display: none;}
  #socialShare {
    width: 100%;
    left: 26%;
    top: 70%;
    vertical-align: bottom;
    text-align: center;
    position: fixed;
  }
  #socialShare a,
  #socialShare > .socialBox {
    position: relative;
    float: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  
  #socialShare  a {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  #socialShare > * > span {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }
  #socialShare > * > span:hover,
  #socialShare > .open > span {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }
  
  #socialGallery {
    left: 50%;
    margin: 0 auto 0;
    position: absolute;
    top: 60px;
    transform: translate(-50%, 0);
    visibility: hidden;
    width: 400px;
  }
  
  #socialGallery a {
    visibility: hidden;
    opacity: 0;
    margin: 5px 2px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 10px;
  }
  
  #socialGallery a > span {
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  
  .socialToolBox {
    cursor: default;
  }
  
  .pointer {
    cursor: pointer
  }
  
  .linkedin:hover {
    background:  #0e76a8 !important
  }
  
  .github:hover {
    background: #c9510c !important
  }
  ul {
    display: none;
  }
  .arrow span {
    border-bottom: 5px solid var(--bg-colorMobile);
    border-right: 5px solid var(--bg-colorMobile);
  }
  .he {
    left: 5vw;
    top: 10%;
  }

  .llo {
    top: 18%;
    left: 35vw;
  }

  #diag_layout {
    display: none;
  }

  #diag_layout2 {
    display: none;
  }
  .mudar-tema {
    margin-top: 2%;
    float: right;
    right: -10%;
  }

  .specs {
    font-size: 22px;
    font-weight: 200;
    opacity: 3;
  }

  #words {
    transform: translateX(0%);
    left: 5%;
    top: 38%;
    display: grid;
    justify-content: center;
    text-align: left;
    padding-bottom: 5px;
    padding: 15px;
    width: 80%;
    height: 47%;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
      0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  }

  ul {
    top: 6%;
    float: left;
    left: -1%;
  }

  .boxPrjchild1 {
    margin: 0;
    width: 80%;
    left: 14%;
  }

  .ptext {
    z-index: 2;
    color: var(--bg-colorMobile);
    position: absolute;
    top: 150%;
    left: 2%;
    font-size: 0.5em;
    display: flex;
  }
  .hr-line {
    position: relative;
    margin-top: 25px;
    margin-right: 35px;
    right: -2%;
    width: 160px;
    display: inline;
    color: var(--bg-colorMobile);
  }
  .layoutScrollbox {
    transform: translate(-25%, 50%);
    width: 75vw;
  }
  .boxPrjchild2 {
    margin: 0;
    width: 80%;
    left: 14%;
  }
  .boxPrjchild3 {
    margin: 0;
    width: 80%;
    left: 14%;
  }
}
